@charset "utf-8";
/* CSS Document */

#principal {
	width: 90%;
	height: 95vh;;
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
	font-size: 11px;
}

.linha {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	float: left;
	background-color: #FFF;
	background-color: rgb(184, 0, 184);
}

.coluna_01 {
	width: 5%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	text-align: center;
	background-color: rgb(184, 0, 184);
	color: white;
}

.coluna_02 {
	width: 14.6%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	background-color: rgb(184, 0, 184);
	color: white;
}

.coluna_03 {
	width: 25.8%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	background-color: rgb(184, 0, 184);
	color: white;
}
.coluna_04 {
	width: 9%;
	height: 10px;
	padding: 4px;
	float: left;
	margin: 2px;
	background-color: rgb(184, 0, 184);
	color: white;
}